section.bid 
    .container.bid-content 
        h2 ОСТАВИТЬ ЗАЯВКУ
        p Оставьте свои данные и мы свяжемся с вами в кротчайшие сроки
        form(action="")
            input(type="text" name="" placeholder="Имя")
            input(type="tel" name="" placeholder="+998 (__) ___-__-__")
            input(type="email" name="" placeholder="E-mail")
            input(type="submit" name="" placeholder="Отправить")
            input(type="checkbox" name="" )
            span * Я согласен на обработку моих данных