section.feats
    .feats-content
        div 
            span 20 лет
            p На рынке спецтехники
        div 
            span 300+
            p Техники в автопарке
        div 
            span 600
            p Довольных клиентов
        div 
            span 100%
            p Гарантия работы