header.header
    nav.container.header-nav
        a(href="")
            img(src="@img/logo.svg" alt="")
        ul.header-nav__list.block
            li
                a.header-nav__list-link(href="") О НАС
            li
                a.header-nav__list-link(href="") ТЕХНИКА
            li
                a.header-nav__list-link(href="") КОНТАКТЫ
            li
                a.header-nav__list-link(href="") ОТЗЫВЫ
            li
                a.header-nav__list-link(href="") 
                    i.fa-solid.fa-phone
                    span +998 94 653 06 55
        button.header-nav-menu
            i.fa-solid.fa-bars
    .container.header-content
        h1 АРЕНДА СпецТЕХНИКИ
        p Компания <strong>DASARENT</strong> предоставляет услуги по аренде спецтехники в кротчайшие сроки и за приемлемые цены.
        a(href="") ЗАКАЗАТЬ ПРЯМО СЕЙЧАС
    ul.header-social 
        li 
            a(href="https://www.whatsapp.com/?lang=ru_RU")
                img(src="@img/whatsapp.svg" alt="")
        li 
            a(href="https://twitter.com/?lang=ru")
                img(src="@img/twitter.svg" alt="")
        li 
            a(href="https://www.instagram.com/")
                img(src="@img/instagram.svg" alt="")
        li 
            a(href="https://www.facebook.com/")
                img(src="@img/facebook.svg" alt="")
        li 
            a(href="https://t.me/DarkWolf077")
                img(src="@img/telegram.svg" alt="")