section.tech 
    h2 ТЕХНИКА
    .container.tech-content 
        .tech-content__card 
            img(src="@img/tech1.svg" alt="")
            a(href="") Автокраны
        .tech-content__card 
            img(src="@img/tech2.svg" alt="")
            a(href="") Погрузчик
        .tech-content__card 
            img(src="@img/tech3.svg" alt="")
            a(href="") Экскаваторы
        .tech-content__card 
            img(src="@img/tech4.svg" alt="")
            a(href="") Бульдозеры
        .tech-content__card 
            img(src="@img/tech5.svg" alt="")
            a(href="") Автобетонасмесители
        .tech-content__card 
            img(src="@img/tech6.svg" alt="")
            a(href="") Самосвалы
        .tech-content__card 
            img(src="@img/tech7.svg" alt="")
            a(href="") Дорожный каток
        .tech-content__card 
            img(src="@img/tech8.svg" alt="")
            a(href="") Контейнеры
        a.container.more(href="#") СМОТРЕТЬ БОЛЬШЕ