section.container.why 
    h2 Почему выбирают нас?
    .why-cards 
        .why-cards__card 
            img(src="@img/why1.svg" alt="")
            p Только профессиональные водители
        .why-cards__card 
            img(src="@img/why2.svg" alt="")
            p Доставка на место работы
        .why-cards__card 
            img(src="@img/why3.svg" alt="")
            p Аренда  техники любых размеров